<!doctype html>
<html class="no-js" lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Calculator</title>
    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/foundation.css') }}">
    <script src="js/vendor/modernizr.js"></script>
  </head>
  <body>
    <div class="row">
      <div class="large-12 columns">
        <h1>{% if number1 %}{{number1}} {{operator}} {{number2}} = {{answer}}
            {% else %} Welcome to the greatest calculator
            {% endif %}</h1>
      </div>
    </div>
    <div class="row">
    	<div class="panel">
        <p>Simply enter two numbers, select an operation from the dropdown, and press calculate to receive the answer.</p>

        <form method='post' action="{{ url_for('calc_answer') }}">
          <div class="row">
            <div class="small-4 columns">
              <h4>Input A Number</h4>
              <input type="number" value={% if answer %}{{answer}}
                  {% else %} '' {% endif %} placeholder="Enter any number" name='number1'/>  
            </div>
            <div class="small-4 columns">
              <h4>Select Operator</h4>
              <select  name='operator'>
                <option value="Plus">Plus</option>
                <option value="Minus">Minus</option>
                <option value="Multiply">Multiply</option>
                <option value="Divide">Divide</option>
              </select>
            </div>
            <div class="small-4 columns">
              <h4>Input A Number</h4>
              <input type="number" placeholder="Enter any number"  name='number2'/>
            </div>
            <div class="large-8 medium-8 columns" align='right'>
              <input type='submit' class="button" />
            </div>
          </div>
        </form>

    	</div>
    </div>
    <script src="js/vendor/jquery.js"></script>
    <script src="js/foundation.min.js"></script>
    <script>
      $(document).foundation();
    </script>
  </body>
</html>
